doctype html
html
  head
    title Art Gallery
    link(rel='stylesheet', href='./style.css')
  body
    header
      h1 Art Gallery
      nav
        a(href='/') Home |
        a(href='/login') Login |
        a(href='/register') Register |
        a(href='/gallery') Gallery
    main
      block content
    footer
      p © 2025 Art Gallery Website
