extends layout

block content
  h1 Register
  form(action="/set-password", method="POST")
    label(for="email") Email:
    input(type="email", name="email", required)
    br
    label(for="password") Password:
    input(type="password", name="password", required)
    br
    label(for="contactNumber") Contact Number:
    input(type="text", name="contactNumber")
    br
    label(for="address") Address:
    input(type="text", name="address")
    br
    button(type="submit") Register
    p Already have an account?
      a(href="/login") Login
