extends layout-auth1

block content
  .container.mt-5
    h1 Upload New Artwork

    form(action="/artworks", method="POST", enctype="multipart/form-data")
      .mb-3
        label.form-label(for="title") Title
        input.form-control(type="text", name="title", required)

      .mb-3
        label.form-label(for="description") Description
        textarea.form-control(name="description", rows="3")

      .mb-3
        label.form-label(for="image") Upload Image
        input.form-control(type="file", name="image", accept="image/*", required)

      .mb-3
        label.form-label(for="category") Category
        input.form-control(type="text", name="category", required)

      button.btn.btn-success(type="submit") Upload
